@import "./css/button.css";
@import "./css/header.css";
@import "./css/buton-icon.css";
@import "./css/hero.css";
@import "./css/wrapper.css";
@import "./css/menu.css";
@import "./css/mention.css";
@import "./css/project.css";
@import "./css/social.css";
@import "./css/footer.css";
@import "./css/form.css";
@import "./css/title.css";
@import "./css/radial-gradient.css";



:root {
    --fontBase: 'Poppins', sans-serif;

    --headline1: bold 95px/153px var(--fontBase);
    --headline2: bold 59px/95px var(--fontBase);
    --headline3: bold 48px/77px var(--fontBase);
    --headline4: bold 34px/55px var(--fontBase);
    --headline5: bold 24px/38px var(--fontBase);

    --body1: 16px/25px var(--fontBase);
    --body2: 14px/22px var(--fontBase);

    --button: bold 14px/22px var(--fontBase);
    --caption: 12px/19px var(--fontBase);
    
    --white: #FFFFFF;
    --black25: #252525;
    --gray02:  #898989;
    --purple: #1D65C1;
    --coffe: #8C5404;


    --gradient: linear-gradient(180deg, #FFF8EC 9.46%, rgba(255, 248, 224, 0.438) 298.51%);

}

body {
    background: var(--gradient);
    min-block-size: 100vh;
    font: var(--body1);
    color: var(--black25);
    margin: 0;
}
