/*===== Custom Properties =====*/

:root {
  --fontBase: "IBM Plex Sans", sans-serif;

  --Heading1: bold 48px/48px var(--fontBase);
  --Heading2: bold 40px/40px var(--fontBase);
  --Heading3: medium 32px/32px var(--fontBase);
  --Heading4: bold 24px/24px var(--fontBase);
  --Heading5: bold 20px/20px var(--fontBase);

  /*===== Common =====*/

  --Subtitle: medium 20px/24px var(--fontBase);
  --Label: medium 16px/20px var(--fontBase);
  --Body1: normal 20px/30px var(--fontBase);
  --Body2: normal 16px/24px var(--fontBase);
  --Caption: small 14px/21px var(--fontBase);

  /*===== Color palette =====*/

  --first-color: #04c233;
  --second-color: #01260e;
  --second-alpha-color: rgba(0, 0, 0, 0.8);
  --white-color: #fff6e6;
  --black-color: #24292f;
  --gray-light-color: #f5f1ea;
  --gray-color: #66625c;
  --gray-dark-color: #33312e;
  --link-color: #04c233;
  --title-color: #01260e;
  --text-color: #33312e;
  --white-alpha-color: rgba(255, 255, 255, 0.8);
  --black-alpha_color: rgba(0, 0, 0, 0.5);

  --max-width: 1200px;
  --header-height: 4rem;
  --box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

/*===== Reset =====*/

html {
  caret-color: transparent;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: var(--Label);
  font-family: var(--fontBase);
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
}

/*===== Here is the start of the dark mode button =====*/
.dark-theme {
  z-index: 0;
  bottom: 1vh;
  left: 1vw;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--first-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.dark-theme:hover {
  background-color: var(--second-color);
  color: var(--white-color);
}

.darkmode {
  background-color: var(--black-color);
  color: var(--white-color);
}

/*===== Here is the end of the dark mode button =====*/

/*===== Hero Image =====*/

.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image_opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity_color);
}

.hero-image_title {
  font-size: 6.5vw;
  color: var(--hero-text_color);
}

/*===== Menu =====*/

.menu-btn {
  background-color: var(--second-color);
  border: 0;
  cursor: pointer;
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: var(--header-height);
  width: 100%;
  background-color: var(--second-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 1.5rem;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .menu a:last-child {
    padding-right: 0;
  }
}

/*===== Utilities =====*/

.box-shdow-1 {
  --drop-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  display: inline-block;
  border-radius: 10rem;
  outline: none;
  padding: 0.5rem;
  font-weight: bold;
  width: 200px;
  text-decoration: none;
  background-color: var(--first-color);
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  box-shadow: var(--box-shadow);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.card-info h3,
p {
  width: 100%;
  height: auto;
  padding: 0rem 1rem;
}

.card-info h4 {
  margin: 0rem 1rem 0.5rem;
  font-size: 1.2rem;
}

.card-info h4:hover {
  color: var(--second-color);
}

.form-input {
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  padding-block-start: 12px;
  padding-block-end: 12px;
  margin-block-start: 8px;
}

.form .btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.form label {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 1.5rem 0;
}

.btn input {
  background-color: var(--first-color);
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}

.none {
  display: none;
}

.section-title {
  border-bottom: thin solid;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
}

.sections {
  padding: 2rem 1rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .screen-lg_full {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg_center {
    text-align: center;
  }

}

.photo-scale_gray {
  display: block;
  margin: auto;
  filter: grayscale(1);
}

/*===== Site Styles =====*/

.about > article {
  margin-bottom: 2rem;
  text-align: center;
}

.footer {
  display: block;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: auto;
  text-decoration: none;
  margin: 3rem 0 0rem;
}

.footer a {
  text-decoration: none;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0.5rem;
  height: var(--header-height);
  background-color: var(--second-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-card {
  display: block;
  text-decoration: none;
  margin: 1.5rem 0rem;
  padding-bottom: 0.5rem;
  box-shadow: var(--box-shadow);
}

.skills-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.skills-card svg {
  margin-bottom: 0.5rem;
  width: 2rem;
  fill: var(--first-color);
}

@media screen and (min-width: 768px) {
  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    align-content: center;
  }

  .portfolio .section-title {
    grid-column: span 2;
  }

  .skills > .container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    align-content: center;
  }

  .skills .section-title {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }

  .about > article {
    text-align: left;
  }

  .form {
    width: 768px;
    height: auto;
    margin: 0 auto;
  }

  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
  }

  .skills > .container {
    grid-template-columns: repeat(2, 45%);
  }

  .skills .section-title {
    grid-column: span 2;
  }
}
