.button {
    background-color: var(--black25);
    color: var(--gray02);
    font: var(--button);
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 13px;
    padding-block-end: 13px;
    border-radius: 24px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

}


.button.is-secondary {
    background-color: unset;
    color: var(--black25);
    border: 2px solid var(--gray02);
}


