.header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    margin-block-start: 4px;

}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


@media screen and (min-width: 768px) {

    .header {

        margin-block-end: 80px;
    }
    
    .header-content img {
        width: 200px;
    }
    


    .header-content button {
        display: none;
    }

}