.mention {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 85PX;
  
}

.mention-card {
    border: 2px solid var(--gray02);
    padding: 32px;
    color: var(--black25);
    border-radius: 24px;
    background: rgba(000, 000, 000, 0.1);
    
    backdrop-filter: blur(40px);
}


.array {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    margin-block-start: 0px; 
}


.mention p:nth-of-type(2){
    font: var(--headline5);

}

.array img {
    inline-size: 80px;
    block-size: 80px;
    margin: auto;
}

@media screen and (min-width:768px) {
   .mention {
    max-inline-size: 900px;
    padding-top: 80px;
}
       
}